@TakaroIntegration/Addons/*.pbo
@TakaroIntegration_Expansion/Addons/*.pbo
node_modules/
dist/

# Local config + secrets
DayZ-Bridge/TakaroConfig.txt
DayZ-DLL/takaro_config.txt
*.bisign
*.bikey
*.biprivatekey

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
